notifications:
  email:
    recipients:
      - contato@gabrielferreira.com
    on_success: [always|never|change] # default: change
    on_failure: [always|never|change] # default: always
language: python
python:
  - "2.7"
# command to install dependencies
install:
  - "pip install -r requirements.txt"
  - "python manage.py syncdb --noinput"
  - "python manage.py migrate"
# command to run tests
script: nosetests
branches:
  only:
    - master
after_success: coveralls
